
@import "variables.css";
@import "formularios.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    
}



body{
    font-family: 'Roboto', sans-serif;
}

.card {
    position:relative;
    display: inline-block;
    width: 300px;
    margin: 190px 60px;
    
}

.contHeader {
    display: inline-block;
    
}

#descuento {

    background-color: var(--colorVerde);
    font-size: 15px;
    
}

#descuento p{
    display: block;
    padding-left: 20px;
}

footer {

    background: var(--colorAzul);
    height: 60px;
}
    
footer p{

    position: relative;
    top: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
    
}

.foto{
           
    display: block;
    position: absolute;
    left: 90px;
    top: -70px;
    width: 120px;
    height: 120px;
    border-radius: 50%;    
}

header{
    position: relative;
    background-color:var(--colorAzul);
    color: white;
    position: sticky;
    top: 0%;
    z-index: 2;
    box-shadow: 0px 5px #00000025;
    height: 130px;
    
}

.icon{
    position: absolute;
    top: 7%;
    left: 7%;
    color: var(--colorRojo);  
    font-size: 200%
}

.imagen {

    width: 300px;
    border-radius: 16px 16px 0px 0px;
    
}

.img-fondo {
    position: relative;
}

.info {
    
    width: 128px;
    background-color:var(--colorAzul);
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 20px auto;
    margin-top: 50px;
    display: block;
    
}

.logo {
    position: relative;
    top: 10px;
    left: 10px;
   
}

main {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    
}

.more {
    position: fixed;
    right: 9%;
    bottom: 40%;
    font-size: 400%;
    color: var(--colorAzul);
}

nav {
    background-color: var(--colorNav);
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
   
}


.navLi{
    position: relative;
    top: 10px;
    font-size: 16px;
    margin-right: 20px;
    display: inline-block;
    
    
}

.navLi a {
    color: #FFFFFF;
    text-decoration: none;
}

.navUl {
    position: relative;
    text-align: right;

}

.nombre{

    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: #000000;
    font-weight: 300;
    
}

.origen {

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.textoCard {
    position: relative;
    background-color: var(--colorGris);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    padding-top: 80px;
    padding-bottom: 10px;
    box-shadow: 0px 4px #00000025;
        
}


.tienda {
    position: relative;
    height: 90px;  
}

.tienda h1 {
    
    position: relative;
    bottom: 10%;
    left: 20px;
    font-size: 30px;
    font-weight: 300;
     
}





































